/* colors variables */

:root {
    /* --main-purple: #663399; */
    --main-purple: #f58733;
    /* --main-orange: #f58733; */
    --main-orange: #223a66;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

html {
    overflow-x: hidden;
}

body {
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    font-family: "Exo", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #6f8ba4;
    font-weight: 400;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    color: #222;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 44px;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.3rem;
    line-height: 30px;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

p {
    line-height: 30px;
}

.navbar-toggle .icon-bar {
    background: var(--main-orange);
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
    box-shadow: none;
    height: 45px;
    outline: none;
    font-size: 14px;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
    box-shadow: none;
    border: 1px solid var(--main-orange);
}

.form-control {
    box-shadow: none;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--main-orange);
}

.py-7 {
    padding: 7rem 0px;
}

.btn {
    display: inline-block;
    font-size: 14px;
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 0.75rem 2rem;
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 0.35s ease;
}

.btn.btn-icon i {
    border-left: 1px solid rgba(255, 255, 255, 0.09);
    padding-left: 15px;
}

.btn:focus {
    outline: 0px;
    box-shadow: none;
}

.btn-main {
    background: var(--main-orange);
    color: #fff;
    border-color: var(--main-orange);
}

.btn-main:hover {
    background: var(--main-purple);
    border-color: var(--main-purple);
    color: #fff;
}

.btn-main-2 {
    background: var(--main-purple);
    color: #fff;
    border-color: var(--main-purple);
}

.btn-main-2:hover {
    background: var(--main-orange);
    color: #fff;
    border-color: var(--main-orange);
}

.btn-solid-border {
    border: 2px solid var(--main-orange);
    background: transparent;
    color: var(--main-orange);
}

.btn-solid-border:hover {
    border: 2px solid var(--main-orange);
    color: #fff;
    background: var(--main-orange);
}

.btn-solid-border:hover.btn-icon i {
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.btn-solid-border.btn-icon i {
    border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.btn-transparent {
    background: transparent;
    color: #222;
    border-color: #6f8ba4;
}

.btn-transparent:hover {
    background: #6f8ba4;
    color: #fff;
}

.btn-white {
    background: #fff;
    border-color: #fff;
    color: #222;
}

.btn-white:hover {
    background: var(--main-orange);
    color: #fff;
    border-color: var(--main-orange);
}

.btn-solid-white {
    border-color: #fff;
    color: #fff;
}

.btn-solid-white:hover {
    background: #fff;
    color: #222;
}

.btn-round {
    border-radius: 4px;
}

.btn-round-full {
    border-radius: 50px;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
}

.bg-gray {
    background: #eff0f3;
}

.bg-primary {
    background: var(--main-orange);
}

.bg-primary-dark {
    background: #152440;
}

.bg-primary-darker {
    background: #090f1a;
}

.bg-dark {
    background: #222;
}

.bg-gradient {
    background-image: linear-gradient(
        145deg,
        rgba(19, 177, 205, 0.95) 0%,
        rgba(152, 119, 234, 0.95) 100%
    );
    background-repeat: repeat-x;
}

.section {
    padding: 100px 0;
}

.section-sm {
    padding: 70px 0;
}

.section-bottom {
    padding-bottom: 100px;
}

.subtitle {
    color: var(--main-orange);
    font-size: 14px;
    letter-spacing: 1px;
}

.overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: var(--main-orange);
}

.overly-2 {
    position: relative;
}

.overly-2:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.text-sm {
    font-size: 14px;
}

.text-md {
    font-size: 2.25rem;
}

.text-lg {
    font-size: 3.75rem;
}

.no-spacing {
    letter-spacing: 0px;
}

/* Links */
a {
    color: #222;
    text-decoration: none;
    transition: all 0.35s ease;
}

a:focus,
a:hover {
    color: var(--main-purple);
    text-decoration: none;
}

a:focus {
    outline: none;
}

.content-title {
    font-size: 40px;
    line-height: 50px;
}

.page-title {
    padding: 120px 0px 70px 0px;
    position: relative;
}

.page-title .block h1 {
    color: #fff;
}

.page-title .block p {
    color: #fff;
}

.page-title .breadcumb-nav {
    margin-top: 60px;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.slick-slide:focus,
.slick-slide a {
    outline: none;
}

@media (max-width: 480px) {
    h2,
    .h2 {
        font-size: 1.3rem;
        line-height: 36px;
    }
}

.title-color {
    color: var(--main-orange);
}

.secondary-bg {
    background: var(--main-orange);
}

.section-title {
    margin-bottom: 70px;
}

.section-title h2 {
    color: var(--main-orange);
}

.text-lg {
    font-size: 50px;
}

.gray-bg {
    background: #f4f9fc;
}

@media (max-width: 480px) {
    .text-lg {
        font-size: 28px;
    }
}

@media (max-width: 400px) {
    .text-lg {
        font-size: 28px;
    }
}

#navbarmain {
    padding: 20px 0px;
}

#navbarmain .nav-link {
    font-weight: 600;
    padding: 10px 15px;
    color: #222;
    font-family: "Exo", sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    transition: all 0.25s ease;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-brand {
    margin-top: 0px;
}

.dropdown .dropdown-menu {
    position: absolute;
    display: block;
    background: #fff;
    min-width: 280px;
    top: 130%;
    left: 0;
    right: 0px;
    opacity: 0;
    padding: 0px;
    visibility: hidden;
    transition: all 0.3s ease-out 0s;
    border: 0px;
    border-top: 5px solid var(--main-purple);
    border-radius: 0px;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 115%;
}

.dropdown .dropdown-item {
    padding: 13px 20px;
    border-bottom: 1px solid #eee;
    background: transparent;
    font-weight: 400;
    color: #555;
}

.dropdown .dropdown-item:hover {
    color: var(--main-purple);
}

.header-top-bar {
    background: var(--main-orange);
    /* background: #f58733; */
    font-size: 14px;
    padding: 10px 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
}

.top-bar-info li a {
    color: #fff;
    margin-right: 20px;
}

.top-right-bar a span {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}

.top-right-bar a i {
    color: #fff;
    margin-right: 10px;
}

.bg-1 {
    background: url("../images/bg/22.jpg") no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}

.banner {
    position: relative;
    overflow: hidden;
    /*background: #fff;*/
    background: url("../images/slider/1.jpg") no-repeat;
    background-size: cover !important;
    min-height: 550px;
    -webkit-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

.banner .block {
    padding: 80px 0px 160px;
}

.banner .block h1 {
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: -1.2px;
    text-transform: capitalize;
    color: var(--main-orange);
}

.letter-spacing {
    letter-spacing: 2px;
}

.text-color {
    color: var(--main-orange);
}

.text-color-2 {
    color: var(--main-purple);
}

.divider {
    width: 40px;
    height: 5px;
    background: var(--main-purple);
}

@media (max-width: 480px) {
    .banner .block h1 {
        font-size: 38px;
        line-height: 50px;
    }
    .banner {
        min-height: 450px;
        background: #fff !important;
    }
}

@media (max-width: 400px) {
    .banner .block h1 {
        font-size: 28px;
        line-height: 40px;
    }
    .banner {
        min-height: 450px;
        background: #fff !important;
    }
}

@media (max-width: 768px) {
    .banner .block h1 {
        font-size: 56px;
        line-height: 70px;
    }
    .banner {
        background: #fff !important;
    }
}

@media (max-width: 992px) {
    .banner {
        background: #fff !important;
    }
}

.about-img img {
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
}

.award-img {
    height: 120px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    /*background: #eff0f3;*/
}

.appoinment-content {
    position: relative;
}

.appoinment-content img {
    width: 85%;
}

.appoinment-content .emergency {
    position: absolute;
    content: "";
    right: 10px;
    bottom: 20px;
    background: var(--main-orange);
    padding: 48px;
}

.appoinment-content .emergency h2 {
    color: #fff;
}

.appoinment-content .emergency i {
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.appoinment-form {
    margin-top: 40px;
}

.appoinment-form .form-control {
    background: #f4f9fc;
    height: 55px;
    border-color: rgba(0, 0, 0, 0.05);
}

.appoinment-form textarea.form-control {
    height: auto;
}

.client-thumb {
    text-align: center;
}

.features {
    margin-top: -70px;
}

.feature-item {
    flex-basis: 33.33%;
    margin: 0px 10px;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
}

.feature-item .feature-icon i {
    font-size: 50px;
    color: var(--main-orange);
}

.feature-item h4 {
    color: var(--main-orange);
}

.feature-item p {
    font-size: 14px;
}

.feature-section.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.w-hours li {
    padding: 6px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.counter-stat {
    text-align: center;
    padding: 55px 0px 40px 0px;
    position: relative;
}

.counter-stat i {
    display: block;
    color: rgba(255, 255, 255, 0.06);
    font-size: 70px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
}

.counter-stat span {
    font-size: 70px;
    color: #fff;
}

.counter-stat p {
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.7);
}

.mb--80 {
    margin-bottom: -80px;
}

.service {
    padding-top: 180px;
}

.service .service-item {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}

.service .icon {
    float: left;
    margin-bottom: 10px;
}

.service i {
    color: var(--main-purple);
}

.service h4 {
    padding-left: 20px;
}

.service .content {
    clear: both;
}

.service-block {
    padding: 20px;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 38px rgba(21, 40, 82, 0.07);
}

.service-block img {
    width: 100%;
    margin-top: -60px;
    border: 5px solid #fff;
}

.department-service {
    margin-bottom: 40px;
}

.department-service li {
    margin-bottom: 10px;
}

.department-service li i {
    color: var(--main-purple);
}

.doctors .btn-group .btn {
    border-radius: 0px;
    margin: 0px 2px;
    text-transform: capitalize;
    font-size: 16px;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
}

.doctors .btn-group .btn.active {
    box-shadow: none !important;
    border-color: transparent;
    background: var(--main-purple);
    color: #fff;
}

.doctors .btn-group .btn.focus {
    box-shadow: none !important;
    border-color: transparent;
}

.doctors .btn-group .btn:focus {
    box-shadow: none !important;
    border-color: transparent;
    background: var(--main-purple);
    color: #fff;
}

.doctors .btn-group .btn:hover {
    box-shadow: none !important;
    border-color: transparent;
    background: var(--main-purple);
    color: #fff;
}

.doctors .btn-group > .btn-group:not(:last-child) > .btn,
.doctors .btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.doctors .btn-group > .btn:not(:first-child) {
    border-radius: 3px;
}

.doctor-inner-box {
    overflow: hidden;
}

.doctor-inner-box .doctor-profile {
    overflow: hidden;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(200, 183, 255, 0.2);
}

.doctor-inner-box .doctor-profile .doctor-img {
    transition: all 0.35s ease;
}

.doctor-inner-box .doctor-profile .doctor-img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.lh-35 {
    line-height: 35px;
}

.doctor-info li {
    margin-bottom: 10px;
    color: #222;
}

.doctor-info li i {
    margin-right: 20px;
    color: var(--main-purple);
}

.read-more {
    color: var(--main-orange);
}

@media (max-width: 480px) {
    .doctors .btn-group {
        display: block;
    }
    .doctors .btn-group .btn {
        margin: 8px 3px;
    }
}

@media (max-width: 400px) {
    .doctors .btn-group {
        display: block;
    }
    .doctors .btn-group .btn {
        margin: 8px 3px;
    }
}

@media (max-width: 768px) {
    .doctors .btn-group {
        display: block;
    }
    .doctors .btn-group .btn {
        margin: 8px 3px;
    }
}

.cta {
    background: url("../images/bg/bg-4.jpg") no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}

.cta:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(34, 58, 102, 0.95);
}

.mb-30 {
    margin-bottom: 30px;
}

.text-color-primary {
    color: var(--main-orange);
}

.cta-section {
    margin-bottom: -80px;
}

.cta-2 {
    background: url("../images/bg/cta-bg.png") no-repeat;
    background-position: center center;
}

.cta-page {
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-color: #f4f9fd;
    margin-top: 75px;
}

.testimonial {
    position: relative;
}

.testimonial:before {
    width: 48%;
    height: 100%;
    top: 0;
    left: 0px;
    position: absolute;
    content: "";
    background: url("../images/bg/bg-2.jpg") no-repeat 50% 50%;
}

.testimonial .slick-dots {
    text-align: left;
}

.testimonial-block {
    position: relative;
    margin-bottom: 20px;
}

.testimonial-block p {
    background: #fff;
    font-size: 18px;
}

.testimonial-block .client-info {
    margin-bottom: 20px;
}

.testimonial-block .client-info h4 {
    margin-bottom: 0px;
}

.testimonial-block i {
    font-size: 60px;
    position: absolute;
    right: 46px;
    bottom: 89px;
    opacity: 0.08;
}

.testimonial-block .slick-dots {
    text-align: left;
}

.testimonial-wrap-2 .slick-dots {
    margin-left: -10px;
}

.testimonial-block.style-2 {
    background: #fff;
    padding: 30px;
    margin: 0px 4px;
    margin-bottom: 30px;
}

.testimonial-block.style-2 .testimonial-thumb {
    float: left;
}

.testimonial-block.style-2 .testimonial-thumb img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 5px solid #eff0f3;
    margin-top: -5px;
}

.testimonial-block.style-2 .client-info p {
    clear: both;
    background: transparent;
}

.testimonial-block.style-2 i {
    bottom: -20px;
    color: var(--main-purple);
    opacity: 0.3;
}

@media (max-width: 480px) {
    .testimonial-wrap {
        margin-left: 0px;
    }
    .testimonial::before {
        display: none;
    }
}

@media (max-width: 400px) {
    .testimonial-wrap {
        margin-left: 0px;
    }
    .testimonial::before {
        display: none;
    }
}

@media (max-width: 768px) {
    .testimonial-wrap {
        margin-left: 0px;
    }
    .testimonial::before {
        display: none;
    }
}

@media (max-width: 992px) {
    .testimonial-wrap {
        margin-left: 0px;
    }
    .testimonial::before {
        display: none;
    }
}

.contact-form-wrap .form-group {
    margin-bottom: 20px;
}

.contact-form-wrap .form-group .form-control {
    height: 60px;
    border: 1px solid #eef2f6;
    box-shadow: none;
    width: 100%;
    background: #f4f9fc;
}

.contact-form-wrap .form-group-2 {
    margin-bottom: 13px;
}

.contact-form-wrap .form-group-2 textarea {
    height: auto;
    border: 1px solid #eef2f6;
    box-shadow: none;
    background: #f4f9fc;
    width: 100%;
}

.social-icons li {
    margin: 0 6px;
}

.social-icons a {
    margin-right: 10px;
    font-size: 18px;
}

.google-map {
    position: relative;
}

.google-map #map {
    width: 100%;
    height: 500px;
}

.mt-90 {
    margin-top: 90px;
}

.contact-block {
    text-align: center;
    border: 5px solid #eef2f6;
    padding: 50px 25px;
}

.contact-block i {
    font-size: 50px;
    margin-bottom: 15px;
    display: inline-block;
    color: var(--main-purple);
}

.blog-item-content h2 {
    font-weight: 600;
    font-size: 38px;
}

/*=================================================================
  Single Blog Page
==================================================================*/
.nav-links .page-numbers {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #eee;
    text-align: center;
    padding-top: 13px;
    font-weight: 600;
    margin-right: 10px;
}

.nav-links .page-numbers:hover {
    background: var(--main-orange);
    color: #fff;
}

.nav-links .page-numbers.current {
    background: var(--main-orange);
    color: #fff;
}

.comment-area .comment-thumb {
    margin-right: 20px;
    margin-bottom: 30px;
}

.comment-area h5 {
    font-size: 18px;
    font-weight: 500;
}

.comment-area span {
    font-size: 14px;
}

.posts-nav h6 {
    font-weight: 500;
}

.quote {
    font-size: 22px;
    color: var(--main-orange);
    padding: 40px;
    font-style: italic;
    border-left: 5px solid var(--main-purple);
    margin: 25px 0px;
}

.tag-option a {
    border: 1px solid #eff0f3;
    padding: 6px 12px;
    color: #6f8ba4;
    font-size: 14px;
}

.comment-form .form-control {
    background: #f7f8fb;
    border-radius: 5px;
    border-color: #f7f8fb;
    height: 50px;
}

.comment-form textarea.form-control {
    height: auto;
}

.post.post-single {
    border: none;
}

.post.post-single .post-thumb {
    margin-top: 30px;
}

.post-sub-heading {
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
}

.post-social-share {
    margin-bottom: 50px;
}

.post-comments {
    margin: 30px 0;
}

.post-comments .media {
    margin-top: 20px;
}

.post-comments .media > .pull-left {
    padding-right: 20px;
}

.post-comments .comment-author {
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 500;
}

.post-comments .comment-author a {
    color: var(--main-orange);
    font-size: 14px;
    text-transform: uppercase;
}

.post-comments time {
    margin: 0 0 5px;
    display: inline-block;
    color: #808080;
    font-size: 12px;
}

.post-comments .comment-button {
    color: var(--main-orange);
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
}

.post-comments .comment-button i {
    margin-right: 5px;
    display: inline-block;
}

.post-comments .comment-button:hover {
    color: var(--main-orange);
}

.post-excerpt {
    margin-bottom: 60px;
}

.post-excerpt h3 a {
    color: #000;
}

.post-excerpt p {
    margin: 0 0 30px;
}

.post-excerpt blockquote.quote-post {
    margin: 20px 0;
}

.post-excerpt blockquote.quote-post p {
    line-height: 30px;
    font-size: 20px;
    color: var(--main-orange);
}

.comments-section {
    margin-top: 35px;
}

.author-about {
    margin-top: 40px;
}

.post-author {
    margin-right: 20px;
}

.post-author > img {
    border: 1px solid #dedede;
    max-width: 120px;
    padding: 5px;
    width: 100%;
}

.comment-list ul {
    margin-top: 20px;
}

.comment-list ul li {
    margin-bottom: 20px;
}

.comment-wrap {
    border: 1px solid #dedede;
    border-radius: 1px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
}

.comment-wrap .author-avatar {
    margin-right: 10px;
}

.comment-wrap .media .media-heading {
    font-size: 14px;
    margin-bottom: 8px;
}

.comment-wrap .media .media-heading a {
    color: var(--main-orange);
    font-size: 13px;
}

.comment-wrap .media .comment-meta {
    font-size: 12px;
    color: #888;
}

.comment-wrap .media p {
    margin-top: 15px;
}

.comment-reply-form {
    margin-top: 80px;
}

.comment-reply-form input,
.comment-reply-form textarea {
    height: 35px;
    border-radius: 0;
    box-shadow: none;
}

.comment-reply-form input:focus,
.comment-reply-form textarea:focus {
    box-shadow: none;
    border: 1px solid var(--main-orange);
}

.comment-reply-form textarea,
.comment-reply-form .btn-main {
    height: auto;
}

.sidebar-widget {
    margin-bottom: 30px;
    padding-bottom: 35px;
}

.sidebar-widget h5 {
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 15px;
}

.sidebar-widget h5:before {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    width: 35px;
    height: 3px;
    background: var(--main-purple);
}

.sidebar-widget.latest-post .media img {
    border-radius: 7px;
}

.sidebar-widget.latest-post .media h6 {
    font-weight: 500;
    line-height: 1.4;
}

.sidebar-widget.latest-post .media p {
    font-size: 12px;
}

.sidebar-widget.category ul li {
    margin-bottom: 10px;
}

.sidebar-widget.category ul li a {
    color: #222;
    transition: all 0.3s ease;
}

.sidebar-widget.category ul li a:hover {
    color: var(--main-orange);
    padding-left: 5px;
}

.sidebar-widget.category ul li span {
    margin-left: 10px;
}

.sidebar-widget.tags a {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    line-height: 41px;
    height: 41px;
    font-weight: 500;
    border-radius: 20px;
    color: #666;
    display: inline-block;
    background-color: #eff0f3;
    margin: 0 7px 10px 0;
    padding: 0 25px;
    transition: all 0.2s ease;
}

.sidebar-widget.tags a:hover {
    color: #fff;
    background: var(--main-orange);
}

.sidebar-widget.schedule-widget {
    background: #f4f9fc;
    padding: 25px;
}

.sidebar-widget.schedule-widget ul li {
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

.search-form {
    position: relative;
}

.search-form i {
    position: absolute;
    right: 15px;
    top: 35%;
}

.footer {
    padding-bottom: 10px;
}

.footer .copyright a {
    font-weight: 600;
}

.lh-35 {
    line-height: 35px;
}

.logo {
    font-weight: 600;
    letter-spacing: 1px;
}

.logo h3 {
    color: var(--main-orange);
}

.logo span {
    color: var(--main-orange);
}

.widget .divider {
    height: 3px;
}

.widget h4 {
    color: var(--main-orange);
}

.widget .footer-menu a {
    color: #6f8ba4;
}

.widget .footer-menu a:hover {
    color: var(--main-purple);
}

.footer-contact-block span {
    font-weight: 400;
    color: #6f8ba4;
}

.footer-contact-block i {
    font-size: 20px;
}

.footer-btm {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.footer-socials li a {
    width: 45px;
    height: 45px;
    background: #6f8ba4;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    padding-top: 12px;
}

.widget-contact h6 {
    font-weight: 500;
    margin-bottom: 18px;
}

.widget-contact h6 i {
    color: var(--main-purple);
}

.subscribe {
    position: relative;
}

.subscribe .form-control {
    border-radius: 50px;
    height: 60px;
    padding-left: 25px;
    border-color: #eee;
}

.subscribe .btn {
    position: absolute;
    right: 6px;
    top: 6px;
}

.backtop {
    position: fixed;
    background: var(--main-purple);
    z-index: 9999;
    display: inline-block;
    right: 55px;
    width: 60px;
    height: 60px;
    bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 50px;
}

.backtop i {
    color: #fff;
    font-size: 20px;
}

.reveal {
    transition: all 0.3s;
    cursor: pointer;
    opacity: 1;
}

/*# sourceMappingURL=maps/style.css.map */

/* added css */

.img-fluid-exception {
    max-width: 80%;
}

.mb-5-exception {
    margin-bottom: 2rem !important;
}

.mb-4-exception {
    margin-bottom: 0.75rem !important;
    margin-top: 0.75rem;
}

#arrow-left {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(0, -50%);
    font-size: 80px;
    color: #223a66;
    -webkit-filter: drop-shadow(1px 1px 1px #000);
    -moz-filter: drop-shadow(1px 1px 1px #000);
    filter: drop-shadow(1px 1px 1px #000);
    cursor: pointer;
}

#arrow-left:hover {
    color: #f58733;
}

#arrow-right {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    font-size: 80px;
    color: #223a66;
    -webkit-filter: drop-shadow(1px 1px 1px #000);
    -moz-filter: drop-shadow(1px 1px 1px #000);
    filter: drop-shadow(1px 1px 1px #000);
    cursor: pointer;
}

#arrow-right:hover {
    color: #f58733;
}

.animate {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.banner {
    -webkit-filter: drop-shadow(0px 0px 5px #eee);
    -moz-filter: drop-shadow(0px 0px 5px #eee);
    filter: drop-shadow(0px 0px 5px #eee);
}

#countryChoose {
    height: 60px;
    border: 1px solid #eef2f6;
    box-shadow: none;
    width: 100%;
    background: #f4f9fc;
    cursor: pointer;
    outline: none;
    padding: 0 10px;
    font-size: 14px;
    max-width: 400px;
}

#submitContact {
    cursor: pointer;
}

input:disabled,
textarea:disabled {
    opacity: 0.5 !important;
}

input.btn:disabled {
    opacity: 0.25 !important;
}

input.btn:disabled:hover {
    background: var(--main-orange);
    border-color: var(--main-orange);
    cursor: default !important;
}

#addressCounties {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textLogoAddress {
    text-align: left;
    padding-left: 30px;
}

/* gallery */

.gallery {
    background: #eee;
}

.gallery-cell {
    width: 66%;
    /*height: 200px;*/
    margin-right: 10px;
    /*background: #8c8;*/
    counter-increment: gallery-cell;
    text-align: center;
}

.gallery-cell > img {
    width: 100%;
}

/* gallery */

.resizedFont {
    font-size: 200%;
}

.centered {
    text-align: center;
}

.justified {
    text-align: justify;
}

.eeeback {
    /* background: #eee;
    padding: 10px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.newIcons {
    color: #223a66;
    font-size: 90px;
    margin: 0 !important;
    filter: drop-shadow(-1px 1px 1px black);
}

.newIcons2 {
    color: #223a66;
    font-size: 70px;
    margin: 10px !important;
    /*filter: drop-shadow(-1px 1px 1px black);*/
}

.superscript {
    vertical-align: super;
    font-size: smaller;
}

.overlay_combination {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-purple);
    opacity: 60%;
}

.icofont-question-circle {
    color: var(--main-orange);
    opacity: 1 !important;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.marginedClass {
    display: flex;
    align-items: center;
}

.marginedClass > h3 {
    color: #223a66;
    margin: 4px 10px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexCenter {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.textJustify {
    text-align: justify;
}

.partsTexts > h3 {
    color: var(--main-orange);
}

.flexOnly {
    display: flex;
}
.flexCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.mainBlue {
    color: var(--main-orange);
}

.calc-form {
    width: 100%;
}

.part-image-fixed > img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.margined10 {
    margin: 10px 0;
}

.margined20 {
    margin: 20px 0;
}

.margined30 {
    margin: 30px 0;
}

.margined2030 {
    margin: 20px 0 30px;
}

.flexGrow1 {
    flex-grow: 1;
}

.myMainColorForTexts {
    color: var(--main-orange);
}

/* counter */
.flipper {
    color: var(--main-orange);
    display: block;
    font-size: 50px;
    line-height: 100%;
    padding: 0;
    margin: 0;
    height: 1.7em;
    margin: -50px auto 30px;
}
.flipper.flipper-invisible {
    font-size: 0px !important;
}

.flipper-group {
    position: relative;
    white-space: nowrap;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
}
.flipper-group label {
    position: absolute;
    color: var(--main-orange);
    font-size: 20%;
    top: 100%;
    line-height: 1em;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
    padding-top: 0.5em;
}

.flipper-digit {
    white-space: nowrap;
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    height: 1.2em;
    overflow-y: hidden;
}
.flipper-digit span {
    font-size: 25%;
}

.flipper-delimiter {
    white-space: nowrap;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    color: #fff;
    min-width: 0.1em;
    white-space: nowrap;
    display: block;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    line-height: 1em;
}

.digit-face {
    display: block;
    visibility: hidden;
    position: relative;
    border-radius: 0.1em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    box-sizing: border-box;
    text-align: center;
}

.digit-next {
    display: block;
    position: relative;
    border-radius: 0.1em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    height: 1.2em;
    background: #fff;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    box-sizing: border-box;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.digit-top {
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    background: #fff;
    padding-top: 0.1em;
    padding-bottom: 0;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    box-sizing: border-box;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background 0s linear, -webkit-transform 0s linear;
    transition: transform 0s linear, background 0s linear;
    transition: transform 0s linear, background 0s linear,
        -webkit-transform 0s linear;
    -webkit-transform-origin: 0 0.6em 0 !important;
    transform-origin: 0 0.6em 0 !important;
    -webkit-transform-style: preserve-3d !important;
    transform-style: preserve-3d !important;
    z-index: 20;
}
.digit-top.r {
    transition: background 0.2s linear, -webkit-transform 0.2s linear;
    transition: transform 0.2s linear, background 0.2s linear;
    transition: transform 0.2s linear, background 0.2s linear,
        -webkit-transform 0.2s linear;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    background: #cccccc;
}

.digit-top2 {
    visibility: hidden;
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    background: #cccccc;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    line-height: 0em !important;
    top: 50% !important;
    bottom: auto !important;
    padding-top: 0;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-bottom-left-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
    overflow: hidden;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background 0s linear, -webkit-transform 0s linear;
    transition: transform 0s linear, background 0s linear;
    transition: transform 0s linear, background 0s linear,
        -webkit-transform 0s linear;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-style: preserve-3d !important;
    transform-style: preserve-3d !important;
    -webkit-transform-origin: 0 0 0 !important;
    transform-origin: 0 0 0 !important;
    z-index: 20;
}
.digit-top2.r {
    visibility: visible;
    transition: background 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s,
        -webkit-transform 0.2s linear 0.2s;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: #fff;
}

.digit-bottom {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    background: #fff;
    height: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    line-height: 0em;
    padding-top: 0;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-bottom-left-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
    box-sizing: border-box;
    text-align: center;
    transition: none;
}
.digit-bottom.r {
    transition: background 0.2s linear;
    background: #cccccc;
}

/* .flipper-digit:after {
    content: "";
    position: absolute;
    height: 2px;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    display: block;
    z-index: 30;
    left: 0;
    right: 0;
} */

.flipper-dark {
    color: #fff;
}
.flipper-dark .flipper-delimiter {
    color: #333;
}
.flipper-dark .digit-next {
    background: #333;
}
.flipper-dark .digit-top {
    background: #333;
}
.flipper-dark .digit-top.r {
    background: black;
}
.flipper-dark .digit-top2 {
    background: black;
}
.flipper-dark .digit-top2.r {
    background: #333;
}
.flipper-dark .digit-bottom {
    background: #333;
}

.flipper-dark-labels .flipper-group label {
    color: #333;
}

/* counter */

.btn-active {
    background: var(--main-purple);
    border-color: var(--main-purple);
}

.btn-inactive {
    /*opacity: 0.25;*/
}

.btn-inactive:hover {
    background: var(--main-orange);
    border-color: var(--main-orange);
    opacity: 1;
}

#contactRow {
    display: none;
}

.requiredField {
    font-size: 12px;
    color: red;
}

.requiredFieldNo {
    font-size: 12px;
    color: gray;
}

.footer-btm.py-4.mt-5 > .row:nth-child(2) {
    display: none;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar > .container {
        max-width: 100%;
        padding: 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1099px) {
    ul.navbar-nav > li > a {
        font-size: 14px !important;
    }
    a.navbar-brand {
        max-width: 20%;
    }
}

.inlineFlex {
    display: inline-flex;
    max-width: 90%;
}

.sliderTextSingle {
    top: 50%;
    position: absolute;
    text-align: left;
    max-width: 1920px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.sliderTextSingle > p {
    max-width: 100%;
}

img.lightboxed {
    width: 100%;
}

@media screen and (min-width: 576px) {
    #selectedResults {
        position: absolute;
        top: 0;
        right: 0;
    }
}

#selectedResults {
    text-align: center;
}

.langFlag {
    width: 25px;
    margin: 0 5px;
    filter: drop-shadow(1px 1px 1px #ccc);
    cursor: pointer;
}

#hidableInfoAndForm {
    display: none;
}

#backToMyComb {
    color: var(--main-orange);
    font-size: 16px;
    cursor: pointer;
}

#backToMyComb:hover {
    color: var(--main-purple);
}

#hidableInfoAndForm {
    display: none;
}

.swiper-button-next, .swiper-button-prev{
    outline: none;
}

#mobileGallery{
    display: none;
}

@media screen and (max-width: 991px){
    .about-img{
        text-align: center;
    }
    .about-img img{
        width: 80%;
        max-width: 400px;
    }
    .flickity-enabled{
        display: none!important;
    }
    #mobileGallery{
        display: block;
    }
    #mobileGallery div{
        margin-bottom: 10px;
    }
    .top-bar-info li a {
        margin-right: 0px;
    }
    .header-top-bar{
        text-align: center;
    }
}

@media screen and (max-width: 590px){
    .banner .block h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 400px){
    .banner .block h1{
        font-size: 32px;
    }
}