/*!
 * Admin css for popup and etc
 */

.modal_edit, .modal_add {
    background-color: #ede9e8;
    padding: 40px;
    position: absolute;
    z-index: 99;
    margin-left: 30%;
    display: none;
}

.img_table {
    max-height: 150px;
    max-width: 150px;
}

.edit_photos {
    margin-top: 10px;
    padding: 10px;
}

.edit_photos > img {
    max-width: 100px;
    max-height: 100px;
}

.delete_photo {
    margin-top: 3px;
}

.add_modal {
    margin: 10px;
}
.close_edit_modal, .close_new_modal{
    margin-left: 40px;
}
